* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1);
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding: 16px;
    text-align: center;
}

h2 {
    white-space: nowrap;
    font-weight: 400;
    color: white;
}

.options-container {
    padding: 10px;
    text-align: center;
}

.options {
    font-size: 14px;
    cursor: pointer;
    color: white;
}